// _footer.scss
// 

.footer {
  padding: 30px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

.social-menu {
  text-align: center;

  li {
    display: inline-block;
    padding-right: 25px;
    font-size: 2.75em;
    color: $color-red;

    :hover {
    color: darken($color-red, 6);
    }
  }
  
  -webkit-mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);
  
}

@include media(767px) {
  .footer {

  }
}